<h1 class="display-4 py-3 mb-3 border-bottom">
  <%= title %>
</h1>

<form action="<% url("/") %>" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">File path</label>
    <input name="file" type="text" class="form-control" id="inputFile" aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
